{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container subscribe">
  <div class="row">
    <div class="col-lg-5">
      <div class="card text-center">
        <div class="card-header">It's BBQ Time!</div>
        <div class="card-body">
          <h5 class="card-title">Shop now to take your next BBQ to another level!</h5>
          <ul class="card-text no-bullets">
            <li><i class="fa-solid fa-fire" style="color: #cc5500"></i> Accessories!</li>
            <li><i class="fa-solid fa-fire" style="color: #cc5500"></i> Charcoal!</li>
            <li><i class="fa-solid fa-fire" style="color: #cc5500"></i> Rubs & Spices!</li>
            <li><i class="fa-solid fa-fire" style="color: #cc5500"></i> Smoking Wood!</li>
            <li><i class="fa-solid fa-fire" style="color: #cc5500"></i> Free delivery over £50!</li>
          </ul>
        <a class="btn btn-warning" href="{% url 'shop' %}">Shop now!</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block page_footer %}

<div class="container footer-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

{% endblock %}
