{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}

<div class="container mb-2 basket">
    <div class="row">
        <div class="col">
            <hr />
            <h2 class="logo-font mb-4">Wishlist</h2>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if wishlist %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Remove?</th>
                        </tr>
                    </thead>

                    {% for wish in wishlist %}
                    <tr>
                        <td class="p-3 w-25">
                            <a href="{% url 'product_detail' wish.product.id %}">
                            <img class="img-fluid rounded" src="{{ wish.product.image.url }}" />
                            </a>
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ wish.product.name }}</strong></p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ wish.product.price }}</p>
                        </td>

                        <td class="py-3">
                            <p></p>
                            <a class="remove-item btn btn-sm btn-danger"
                                href="{% url 'remove_wish' wish.id %}">Remove</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your wishlist is empty.</p>
            <a href="{% url 'shop' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %} {% block page_footer %}

<div class="container footer-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}