html {
    height: 100%;
}

/* navbar */

.container-fluid {
    padding: 0px;
}

.bg-dark {
    background-color: black !important;
}

.btn-outline-orange {
    color: #fff;
    border-color: #fff;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: #cc5500;
    border-color: #cc5500;
}

header i:hover {
    color: #fff;
    background-color: #cc5500;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

header .fa-solid {
    color: #cc5500;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 1.65;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

body {
    background: url('/media/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #fff;
    /* font-family: 'Lato'; */
    display: flex;
    flex-direction: column;
}


/* Index css */

.subscribe {
    padding-top: 1.5rem;

}

/* from W3 schools */
ul.no-bullets {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
    text-align: left;
}

/* footer */

.page-footer {
    background: url('/media/footer.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 36px;
    position: fixed;
    bottom: 0;

}


footer a:hover {
    color: #fff;
    background-color: #cc5500;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

footer .fa-brands {
    color: #cc5500;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 1.65;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}