/* -------------------------------------------------------------------base */
html {
    height: 100%;
}

body {
    font-family: 'Heebo', sans-serif;
    background: url('/media/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #fff;
    display: flex;
    flex-direction: column;
}
.header-container {
    padding-top: 130px;
}

.footer-container {
    padding-bottom: 164px;
}

.logo-font {
    color: #cc5500;
}


/* -------------------------------------------------------------------navbar */

.container-fluid {
    padding: 0px;
}

.bg-dark {
    background-color: black !important;
}

.btn-outline-orange {
    color: #fff;
    border-color: #fff;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: #cc5500;
    border-color: #cc5500;
}

header i:hover {
    color: #fff;
    background-color: #cc5500;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

header .fa-solid {
    color: #cc5500;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 1.65;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

/* ----------------------------------------------------------------Index css */

.subscribe {
    padding-top: 1.5rem;

}

/* from W3 schools */
ul.no-bullets {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
    text-align: left;
}

/* --------------------------------------------------------------  Shop css */

.card-img-top {
    object-fit: contain;
    width: 100%;
    height: 225px
}

.product-card .card-body {
    height: 100px;
}

.card {
    color: #383e42;
    margin: 5px;
}

.detail-card {
    width: 80%;
    margin: auto;
}

.detail-card img {
    height: 400px;
    object-fit: contain;
    margin: auto;
}

/* ------------------------------------------------------------------basket */

.basket {
    background-color: #fff;
    color: #383e42;
}

/* ------------------------------------------------------------------footer */

.page-footer {
    background: url('/media/footer.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: right;
    font-size: 36px;
    position: absolute;
    bottom: 0;

}


footer a:hover {
    color: #fff;
    background-color: #cc5500;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

footer .fa-brands {
    color: #cc5500;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 1.65;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffc107;
    border: 1px solid #ffc107;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}