{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}

<div class="container mt-5">
    <button type="submit" class="btn btn-primary" id="submitBtn">Subscribe</button>
</div>
{% endblock %} {% block page_footer %}

<div class="container footer-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}