{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3">
      <h2 class="logo-font">Shop</h2>
      <hr class="w-50 mb-1" />
    </div>
  </div>
  <div class="row">
    <div class="product-container col-10 offset-1">
      <div class="row mt-1 mb-2"></div>
      <div class="row">
        {% for product in shop %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card product-card" style="width: 18rem">
            {% if product.image %}
            <a href="">
              <img
                class="card-img-top img-fluid"
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
              />
            </a>
            {% else %}
            <a href="">
              <img
                class="card-img-top img-fluid"
                src="{{ MEDIA_URL }}noimage.png"
                alt="{{ product.name }}"
              />
            </a>
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col">
                  <p>£{{ product.price }}</p>
                </div>
                <div class="col">
                  <a href="#" class="btn btn-success">Add to basket</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} {% endblock %}
      </div>
    </div>
  </div>
</div>

{% block page_footer %}

<div class="container footer-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>

{% endblock %}
